<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>UserApplicationMaster</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.revature.servlets.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadUserServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReadUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadUserServlet</servlet-name>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.revature.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SourceServlet</servlet-name>
    <servlet-class>com.revature.servlets.SourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SourceServlet</servlet-name>
    <url-pattern>/sourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TargetServlet</servlet-name>
    <servlet-class>com.revature.servlets.TargetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetServlet</servlet-name>
    <url-pattern>/targetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>com.revature.servlets.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>com.revature.servlets.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.revature.servlets.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
</web-app>